BasedOnStyle: Mozilla
Language: Java

# Ident
IndentWidth: 4
ContinuationIndentWidth: 8
TabWidth: 4
UseTab: Always

# Alignment
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
AlignOperands: true
AlignTrailingComments: false
AlignAfterOpenBracket: DontAlign

# Parameter alignment
BinPackArguments: false
BinPackParameters: false

# Line breaks
BreakAfterJavaFieldAnnotations: true
BreakBeforeBinaryOperators: None
BreakBeforeTernaryOperators: false
BreakBeforeBraces: Attach
ReflowComments: true

# Line permissions
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

# Line length
ColumnLimit: 100

# Imports
SortIncludes: true
JavaImportGroups: ["net.coderbot.patchwork", "java"]

# Spaces
SpaceBeforeParens: Never
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpaceBeforeRangeBasedForLoopColon: true
SpaceAfterCStyleCast: true
Cpp11BracedListStyle: false
MaxEmptyLinesToKeep: 1